from methods import get_path

DAY = {{ day }}


def one() -> {{ return_type }}:
    with open(get_path(DAY), "r") as f:
        pass
    return {{ sentinel }}


def two() -> {{ return_type }}:
    with open(get_path(DAY), "r") as f:
        pass
    return {{ sentinel }}
